<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Launcher.Paramètres" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
      <userSettings>
        <Launcher.Paramètres>
          <setting name="AddonsCPC" serializeAs="String">
            <value>-noPause -skipintro -nosplash -world=empty -mod=@CBA_A3;@JayArma2Lib;@ACRE;@cpc_core;@cpc_util;@cpc_iles;</value>
          </setting>
          <setting name="AddonsMCC" serializeAs="String">
            <value>-noPause -skipintro -nosplash -world=empty -mod=@CBA_A3;@JayArma2Lib;@ACRE;@cpc_core;@cpc_util;@cpc_iles;@mcc_sandbox;</value>
          </setting>
          <setting name="Addr_TS" serializeAs="String">
            <value>188.165.212.111:9987</value>
          </setting>
          <setting name="Mdp_TS" serializeAs="String">
            <value>coin666</value>
          </setting>
          <setting name="AddonsSupp" serializeAs="String">
            <value />
          </setting>
        </Launcher.Paramètres>
    </userSettings>
</configuration>
